td,
th {
  padding: 0.5rem;
  border: 1px solid brown;
  text-align: center;
}

table {
  width: 90vw;
  border-collapse: collapse;
}

td:hover,
th:hover {
  background-color: green;
  color: white;
  cursor: pointer;
}

/* Forms */
label {
  font-size: smaller;
  display: block;
}

input {
  border: none;
  border: 1px solid grey;
  border-radius: 4px;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
}

input:focus {
  outline: none;
  border: 2px solid lightblue;
}
